*{
    font-family: Poppins, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header{
    background-color: aqua;
    padding: 40px 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    border-radius: 12px;
}

ul{
    list-style: none;
    padding: 0;

    display: flex;
    gap: 20px;
}

ul li a{
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}

ul li a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    padding: 24px;
    border-radius: 12px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


body {
    margin: 0;
    background-color: #f9fafb;
    color: #333;

}

h1{
    font-size: 24px;
    margin: 0;


}

h2{
    font-size: 20px;
    margin-bottom: 10px;

}

p{
    line-height: 1.6;

}