*{
    font-family: Poppins, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header{
    background-color: aqua;
    padding: 40px 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    border-radius: 12px;
}

ul{
    list-style: none;
    padding: 0;

    display: flex;
    gap: 20px;
}

ul li a{
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}

ul li a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    padding: 24px;
    border-radius: 12px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


body {
    margin: 0;
    background-color: #f9fafb;
    color: #333;

}

h1{
    font-size: 24px;
    margin: 0;


}

h2{
    font-size: 20px;
    margin-bottom: 10px;

}

p{
    line-height: 1.6;

}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

.skills-list li{
    background-color: #e0f2fe;
    color: #0368a1;
    padding: 8px 12px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
    transition: all 0.2s ease;
}

.skills-list li:hover{
    background-color: #0368a1;
    transform: translateY(-2px);
}